<div class="card">
  <div class="comment-card-body">
    
<h4 class="added-comment">
    {{text}}
    </h4>
    <h5 class="card-subtitle">
      --Posted by {{ creator }}&nbsp;on&nbsp;{{format_date createdAt}}
    </h5>
    <br>

    

  </div>
</div>
