<section
  style="padding: 4rem;"
  class="flex-column justify-center align-content-center"
>
  <h1>Awww... Don't Cry.</h1>
  <p>It's just a 404 error!</p>
  <p style="font-size: 20rem;">😭</p>

</section>