<div class="menu-container" align="center">
  <div class="menu-container" align="center">
    <h2 class="bg-success"> {{blog.user.username}}'s Tech Blog Post</h2>
    	{{> postCard creator=blog.user.username title=blog.blog_title createdAt=blog.createdAt description=blog.blog_description}}
  </div>
</div>