<div class="menu-container" align="center">
  <div class="menu-container" align="center">
    <h2 class="bg-success"> {{blog.user.username}}'s Tech Blog Post</h2>
    {{> blogCard creator=blog.user.username title=blog.blog_title createdAt=blog.createdAt description=blog.blog_description}}
    {{#unless logged_in}}
      <big><a href="/login" id="login">Login</a> to add a comment</big>
    {{/unless}}
    {{#if logged_in}}
      <form
        class="flex-column align-content-center"
        id="comment-form"
        style="gap: 12px;"
      >
        <label for="post-comment">Add a Comment:</label>
        <input type="hidden" id="post-id" name="post-id" value={{blog.id}}>
        <textarea
          class="text-border"
          id="post-comment"
          name="post-comment"
          rows="5"
          cols="30"
        ></textarea>
        <button class="btn btn-primary btn-lg" type="submit" value="Submit">
          Submit
        </button>
      </form>
    {{/if}}
  </div>
</div>

<script src="/js/addComment.js"></script>