<h1>
  Tech post for
  {{ user_name }}
  &mdash; Create New Post


</h1>
<form id="new-post-form">
  <div class="form-group">
    <label for="post-title">Title:</label>
    <input class="form-control" type="text" id="post-title" name="post-title" />
  </div>
  <div class="form-group">
    <label for="post-description">Description:</label>
    <textarea
      class="form-control"
      id="post-description"
      name="post-description"
      rows="5"
    ></textarea>
  </div>
  <button class="btn btn-primary" type="submit" value="submit">Submit</button>
</form>


<script src="/js/addPost.js"></script>
