{{!-- <div>
<h1 class="post-header">
  Tech posts for
  {{ user_name }}
  </h1>
  </div> --}}


<div class="tech-posts">
  <div class="post-list">
  {{#each posts as |post|}}
  {{>dashboardCard title=post.title createdAt=post.createdAt postId=post.id}}
  {{/each}}
</div>
</div>





</h1>
<form id="new-post-form">
  <div class="form-group">
    <label for="post-title">Title:</label>
    <input class="form-control" type="text" id="post-title" name="post-title" />
  </div>
  <div class="form-group">
    <label for="post-description">Description:</label>
    <textarea
      class="form-control"
      id="post-description"
      name="post-description"
      rows="5"
    ></textarea>
  </div>
  <button class="btn btn-primary" type="submit" value="submit">Submit</button>
</form>


<script src="/js/addPost.js"></script>
