<div class="post-body">

    {{> editPostForm buttonText="Update Post" method="PUT" title=post.title description=post.description postId=post.id}}

    <script src="/js/editPost.js"></script>
  </div>
</div>
