<div class="menu-container" align="center">
  <div class="menu-container" align="center">
    <h2 class="bg-success">
      Everyone's Tech Blog</h2>
    {{#each blogPosts as |post|}}
        {{> postCard creator=post.user.username title=post.blog_title createdAt=post.createdAt description=post.blog_description postId=post.id}}
    {{/each}}
  </div>
</div>

<!-- This is the form for retrieving saved logs -->
{{! <script src='/js/addBlog.js'></script> }}