<div class="navbar bg-info">
    <div style="margin-top: 80px;" class="text-center p-5 mb-4 bg-light">
        <h1>
            <img class="logo" style: height="500px" width="500px" src="./assets/images/techblogLogo.png"
                alt="Tech blog Logo" />
        </h1>
        <h4 class="mt-4"></h4>
        <a class="btn btn-primary btn-lg mt-4" href="/login" role="button">Get Started</a>
    </div>
</div>