<h1>{{ post.user.username }}'s Tech Blog Post</h1>
{{> postCard creator=post.user.username title=post.title createdAt=post.createdAt description=post.description}}

<h1>Comments</h1>
{{>commentCard comments=comments creator=post.user.username text=comment.text createdAt=post.createdAt}}
<br>
<div>
    <input type="hidden" id="post-id" value="{{ post.id }}">
    <textarea id="comment-text" name="comment-box" rows="4" cols="180"></textarea>
 </div>
 <br>
    <button id="new-comment" type="submit" value="submit" name="action">
      Submit
    </button>
    </div>
  </form> 
</div>
<script src="/js/addComment.js"></script>

