<div class='menu-container' align="center">
  <div class='menu-container' align="center">
      <h2 class="bg-success"> {{user_name}}, Tech-Blog</h2>
      <br />
    {{#each techDatas as |techData|}}
    <div class="gallery-name blog-size" >
      <h4> <span style="text-transform:uppercase;" >{{techData.blog_title}}</span><h4>
      <h4> {{format_date techData.createdAt}}</h4>
    </div>
     <br/>
    {{/each}}
    
  </div>
</div>

<!-- This is the form for retrieving saved logs -->
{{!-- <script src='/js/addBlog.js'></script> --}}