form > button[type="submit"] {
  margin-top: 0.75rem;
}

.navbar {
  background-color: #4f5078 ;
  color: #fff;

}

.d-flex {
  text-shadow: 2px 2px 5px var(--secondary);
  border: 10px groove var(--light);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.card-title {
  /* color: #fff; */
  font-size: 30px;
  border: 10px groove var(--light);
  padding-top: 10px;
  
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
  padding: 10px;
  margin-bottom: 10px;
  
}

.card-header {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0;
  /* color: #fff; */
  border-bottom: 1px solid #4f5078;
}
#description {
  font-size: 20x;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#header {
  background-color: #4f5078;
}


h1 {
  background-color: #413746;
  color: #fff;
}
h4 {
  font-size: 15px;
  display:flex;
  justify-content: space-between;
  align-items: end;
}

.comments-header {
  background-color: #4f5078;
  color: #fff;
  font-size: 20 px;
  padding: 5px;
}

.nav-link {
  color: #fff;
}
/* 
.container-fluid {
  background-color: #4f5078;
} */

.main-title {
  color: #ad5050;
  background-color:#fff ;
  display: flex;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 20px;
}

a {
  color: #7eAee0;
  text-decoration: none;
 
 
}

/* .post-list  {
  background-color: #4f5078;

} */

.card-list a{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #4f5078;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

#new-post-form {
  background-color: #4f5078;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 40px;
}

.btn.btn-primary {
  background-color: #8c33cc;
  border-color: #4f5078;
}

/* .comment-form {
  background-color: #4f5078;
  margin-top: 40px;
  display:block;

} */

.add-title {
  color: #fff;
  font-size: 1.5rem;
 
}
#new-comment-form {
  background-color: #4f5078;
margin: 10px;
padding: 10px;
margin-top: 30px;
}


.box-text {
  padding: 0;
}

.comment-form {
  color: #fff;
}
.comment-form-group {
  display: flex;
}

.added-comment {
  font-size: 16px;
  padding-top: 5px;

}

.card-subtitle {
  font-size: 10px;
 display: flex;
 align-items: end;
}

.comment-card {
  margin: 0 20; 
}

.comment-card-body {
  padding: 0;
  padding-left: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}